.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.short-container{
    display:flex;
    height: 30vh;
    width: 100%;
    background-color: #1a8cff;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.short-info{
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
}

.download-button{
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    width: 125px;
    height: 30px;
}

.hireMe-button{
    background-color: #2db551;
    color:white;
    border: none;
    border-radius: 20px;
    width: 125px;
    height: 30px;
}

.information-container{
    height: 69.5vh;
    margin-bottom: 20px;
    background-color: #e6ffff;
}

.aboutme-container{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.desc-container{
    margin-left: 20px;
    flex: 2;
}

.general-info-key{
    flex: 1;
}

.general-info-value{
    flex: 1;
}

.contact-container{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 20px;
    background-color: #e6ffff;
}

.input-contact{
    flex:1;
    display: flex;
    flex-direction: column;
}

.another-general-info{
    flex:1;
    margin-top: 7vh;
    margin-bottom: 10vh;
}

.email{
    margin-right: 1vw;
    width: 20vw;
    padding: 12px 20px;
}

.name{
    width: 20vw;
    padding: 12px 20px;

}

.message{
    margin-top: 10px;
    padding: 12px 20px;
    width: 44vw;
    height: 100px;
}

.submit{
    margin-top: 10px;
    background-color: #1a8cff;
    color: white;
    border: none;
    border-radius: 20px;
    width: 125px;
    height: 30px;
}

.image{
    margin-left: 30px; 
    position: absolute;
    top: 60px;
    left: 16px;
}

.main-desc{
    margin-right: 100px;
}